<div class="row form">
  <div class="col-lg-12">
    <h3>送信しました。/ Sent </h3>
    <!-- <span>他の人の回答を見る/ Check Other Questions</span> -->
    <%= link_to "ホームに戻る/ Return Home", root_path  %>
    <p><%= link_to "他の質問を見る/ Check Other Questions", question_path(@answer.question) %></p>
  </div>
</div>
