<section class="col-md-12">
  <div class="sct-inner">
    <p><%= link_to answer.user.nickname, user_path(answer.user) %>さん</p>
    <h4><%= @ask %></h4>
    <h4>→<%= answer.text %></h4>
  </div>

</section>
